<section class="hero is-primary is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-body">
    <% if user_signed_in? %>
      <div class="container is-fullhd">
        <h1 class="title">Collections</h1>
        <div class="columns">
          <% @collections.each do |collection| %>
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img class="lazyload 4by3"
                      src="https://i.imgur.com/PhRwY4X.jpg"
                      data-src="https://i.imgur.com/PhRwY4X.jpg"
                      data-srcset="https://i.imgur.com/PhRwY4X.jpg 2x,
                                  https://i.imgur.com/PhRwY4X.jpg 1x"
                      width="672"
                      height="420" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4" style="color:black"><%= collection.name %></p>
                      <p class="subtitle is-6" style="color:black">Uploaded by: <%= collection.user_id %></p>
                    </div>
                  </div>
              
                  <div class="content">
                    <%
=begin%>
 <%= collection.created %>.
                    <p class="subtitle is-6" style="color:black">ID: <%= collection.user_id %></p> 
<%
=end%>
                    <p class="subtitle is-6" style="color:black">Status: <%= collection.status %></p>
                    <%= collection.created_at.strftime("%-d/%-m/%y  %H:%M %Z") %>
                  </div>
                </div>
              </div>
                
              </div>
          <% end %>
      </div>
    <% end %>
  </div>
</section>