<section class="hero is-primary is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-body">
    <% if user_signed_in? %>
      <div class="container is-fullhd">
        <h1 class="title">Collections</h1>
        <div class="columns">
          <% @collections.each do |collection| %>
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-3by4">
                    <% if collection.items[0]%>                  
                      <%=image_tag collection.items[0].image, style:"object-fit: cover;" %>
                    <% else %>
                      <img src="assets/collections.png" style="object-fit: cover;" />
                    <% end %>
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <% if collection.user.avatar.attached? %>
                          <%= image_tag @collection.user.avatar %>
                        <% else %>
                          <img src="assets/user.png" />
                        <% end %>
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4" style="color:black"><%= collection.name %></p>
                      <p class="subtitle is-6" style="color:black">Collector: <%= collection.user.username %></p>
                    </div>
                  </div>
              
                  <div class="content">
                    <% if collection.status == 1 %>
                      <p class="subtitle is-6" style="color:black">Public</p>
                      <%= collection.created_at.strftime("%-d/%-m/%y  %H:%M %Z") %>
                    <% else %>
                      <p class="subtitle is-6" style="color:black">Private</p>
                    <% end %>
                  </div>
                </div>
              </div>
                
              </div>
          <% end %>
      </div>
    <% end %>
  </div>
</section>