<!-- <h1 class="title">Public Domain</h1>
<p class="subtitle">Tool to store and read public domain materials</p> -->

<section class="hero is-primary is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-body">
    <% if !user_signed_in? %>
      <div class="container has-text-left">
        <p class="title">
          Public Domain
        </p>
        <p class="subtitle">
          Tool to store and read public domain materials
        </p>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <div class="container is-fullhd">
        <h1 class="title">Movies</h1>
        <div class="columns">
          <% @items.each do |item| %>
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img class="lazyload 4by3"
                      src="https://i.imgur.com/PhRwY4X.jpg"
                      data-src="https://i.imgur.com/PhRwY4X.jpg"
                      data-srcset="https://i.imgur.com/PhRwY4X.jpg 2x,
                                  https://i.imgur.com/PhRwY4X.jpg 1x"
                      width="672"
                      height="420" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4" style="color:black"><%= item.title %></p>
                      <p class="subtitle is-6" style="color:black">Uploaded by: @user</p>
                    </div>
                  </div>
              
                  <div class="content">
                    <%= item.description %>.
                    <p class="subtitle is-6" style="color:black">ID: <%= item.id %></p>
                    <p class="subtitle is-6" style="color:black">Published: <%= item.published %></p>
                    <p class="subtitle is-6" style="color:black">Views: <% if item.views? %> <%= item.views %> <%else%> Not enough <% end %></p>
                    <%= item.created_at.strftime("%-d/%-m/%y  %H:%M %Z") %>
                  </div>
                </div>
              </div>            
            </div>
          <% end %> 
        </div>
        <h1 class="title">Books</h1>
      <div class="columns">
        <% @items.each do |item| %>
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img class="lazyload 4by3"
                      src="https://i.imgur.com/PhRwY4X.jpg"
                      data-src="https://i.imgur.com/PhRwY4X.jpg"
                      data-srcset="https://i.imgur.com/PhRwY4X.jpg 2x,
                                  https://i.imgur.com/PhRwY4X.jpg 1x"
                      width="672"
                      height="420" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4" style="color:black"><%= item.title %></p>
                      <p class="subtitle is-6" style="color:black">Uploaded by: @user</p>
                    </div>
                  </div>
              
                  <div class="content">
                    <%= item.description %>.
                    <p class="subtitle is-6" style="color:black">ID: <%= item.id %></p>
                    <p class="subtitle is-6" style="color:black">Published: <%= item.published %></p>
                    <p class="subtitle is-6" style="color:black">Views: <% if item.views? %> <%= item.views %> <%else%> Not enough <% end %></p>
                    <%= item.created_at.strftime("%-d/%-m/%y  %H:%M %Z") %>
                  </div>
                </div>
              </div>            
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
</section>