<div id="<%= dom_id item %>">
  <p>
    <strong>Title:</strong>
    <%= item.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= item.published %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= item.views %>
  </p>

</div>
