<!DOCTYPE html>
<html>
  <head>
    <title>PublicDomain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-item">
            <span class="icon">
                <%= link_to "", root_path, class: "fas fa-landmark", style: "color:#000; font-size:1.2em" %>
                <span>&nbsp;<%= link_to "Blic", root_path, style:"font-size: 1rem; color: #000; font-family: 'Roboto', sans-serif;" %></span>
            </span>
          </span>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
        onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');" data-target="navbarBasicExample">

            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <div id="landingMenu" class="navbar-menu">
          <div class="navbar-end">
            <% if !user_signed_in? %>
            <span class="navbar-item">
              <%= link_to "Sign up", new_user_registration_path, class: "button" %>
            </span>
            <span class="navbar-item">
              <%= link_to "Log In", new_user_session_path,  class: "button is-primary" %>
            </span>
            <% end %>
            <% if user_signed_in? %>
            <span class="navbar-item">
              <span class="icon">
                <%= link_to "", new_item_path, class: "fas fa-plus", style: "color:grey;" %>
              </span>
              <%= link_to "New Item", new_item_path, style: "color:grey;" %>
            </span>
            <span class="navbar-item">
              <span class="icon">
                <%= link_to "", new_collection_path, class: "fas fa-box", style: "color:grey;" %>
              </span>
              <%= link_to "New Collection", new_collection_path, style: "color:grey;" %>
            </span>
            <span class="navbar-item">
              Welcome <%= current_user.username %>
            </span>
            <span class="navbar-item">
              <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { "turbo-method": :delete }, class: "button is-primary" %>
            </span>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>

  <script src="https://kit.fontawesome.com/392db0e3a2.js" crossorigin="anonymous"></script>

</html>
